*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #444; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #efefef;
}
.container
{
    width: 100%;
    position: relative;
    /* min-height: 100vh; */

}


/* NAVIGATION BAR */
nav
{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: 0.5s;
    background-color: #1876f2;
    color: #fff;
    z-index: 100;
    box-shadow: 2px 7px 27px -5px rgba(0,0,0,0.33);
    -webkit-box-shadow: 2px 7px 27px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px 7px 27px -5px rgba(0,0,0,0.33);
}
.nav-left
{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-left img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.search-bar{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 30px;
    color: #999;
    background: #fff;
}
.search-bar input{
    width: 70%;
    height: 30px;
    margin-left: 8px;
    padding-left: 5px;
    border: none;
    outline: none;
}
.nav-right
{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 60px;
}
.nav-right-links{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7em;
}
.nav-right .profile-pic
{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #444;
    cursor: pointer;
    z-index: 50;
    border: 3px dotted #efefef;
    /* overflow: hidden; */
}
.nav-right .profile-pic img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.nav-right .active
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 3.2%;
    background: rgb(0, 255, 0);
    border: 2px solid #fff;
}

/* NAVIGATION BAR */

/* BODY */
.body
{
    width: 100%;
    /* min-height: 120vh; */
    display: flex;
    position: relative;
    background: #efefef;
}

/* BODY LEFT DIV STYLE */
.body-left
{
    height: 85vh;
    width: 22%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10%;
    color: #1876f2;
    z-index: 50;
}
.body-left a
{
    color: #333;
    text-decoration: none;   
}
.left-top
{
    width: 80%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left-top a{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

}
.left-top a:hover{
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.left-top a i{
    font-size: 30px;
    margin-right: 15px;
    color: #1876f2;
}
.left-top a span{
    font-size: 1.2em;
}


.left-bottom
{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}
.left-bottom p{
    position: absolute;
    color: #444;
    font-weight: 600;
    top: 48%;
    margin-left: 2px;
}
.left-bottom a{
    width: 100%;
    padding: 10px 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.left-bottom a:hover{
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.left-bottom a img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}
/* BODY LEFT DIV STYLE */

/* BODY MIDDLE DIV STYLE */
.body-middle
{
    width: 48%;
    min-height: 150vh;
    position: absolute;
    left: 22%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 0 15px; 
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    overflow: hidden;
}
.friends-active{
    width: 900px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 3%;
    margin-top: 8px;
    background: #fff;
    overflow-x: scroll;
}
.friend-I{
    width: 100px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: .8em;
    font-weight: 500;
}
.friend-I img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border: 2px dotted #1876f2;
}
.middle-head-tag{
    width: 100%;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.5px solid #444;
    font-size: 1.2em;
    margin-top: 22vh;
}
#current{
    border-bottom: 3px solid coral;
}
.middle-head-tag a{
    text-decoration: none;
    color: #333;
    margin: 0 12px 0 0px;
    width: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.middle-head-tag a:hover{
    width: 100px;
    padding: 8px;
    background: rgba(153, 153, 153, 0.39);
    border-radius: 10px;
    color: #000;
}
.create-post, .posts{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 15px 0;
    padding: 10px;
    color: #444;
    background: #fff;
    border-radius: 10px;
}
.user-name{
    width: 100%;
    height: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.user-pic{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    display: flex;
    align-items: center;
}
.user-pic img{
    object-fit: cover;
    width: 45px;
    height: 45px;
}
.user-name h3{
    font-size: 1em;
    display: flex;
    align-items: center;
    font-weight: 600;
}
#privacy-select{
    width: 70px;
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    margin: 10px 5px;
}

#post-created{
    width: 80%;
    height: 40%;
    background: transparent;
    text-align: center;
    color: #000;
    border: none;
    outline: none;
    border-bottom: 1px solid #444;
    display: flex;
}
.repository{
    width: 60%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.new-repo, .old-repo{
    background: red;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    width: 140px;
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.old-repo{
    background: green;
}

.posts{
    min-height: 45vh;
    position: relative;
    overflow: visible;
}
.user-head-tag{
    width: 100%;
    height: 11vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-pic-post img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.user-details{
    width: 90%;
    height: 100%;
    display: flex;
    font-size: 0.9em;
}
.user-name-date{
    width: 100%;
}
.user-name-date h3{
    font-size: 1.3em;
}
.user-name-date p{
    display: block;
}
.post-like{
    width: 30%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.post-like p{
    width: 85%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #efefef;
    overflow: hidden;
    font-size: 1.2em;
    border: 1px solid #999;
}
.post-like p .fa-star, .post-like p .grey-ii{
    color: #888;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    cursor: pointer;
    border: 1px solid #999;
    
}
.post-like p .gold, .post-like p .gold-ii{
    color: gold;
    display: none;
}
.post-like p .fa-caret-down{
    width: 40%;
    border: 1px solid #999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.report-dropdown-1, .report-dropdown-2{
    width: 190px;
    height: 140px;
    position: absolute;
    right: 4%;
    top: 100%;
    padding: 10px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    background: #fff;
    box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
}
.report-dropdown-content{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    text-decoration: none;
    color: #222;
    border: 1px solid #999;
}
.report-dropdown-content:hover{
    box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.5);
}

/* POST ITEM */
.post-item{
    width: 95%;
    height: 70%;
    margin-left: 40px;
    border-radius: 10px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    padding: 15px 10px;
}
.post-item-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.repository-name{
    width: 100%;
}
.repository-description{
    width: 100%;
    min-height: 50%;
}
.date-last-updated{
    width: 100%;
}

#see-more{
    width: 130px;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
}
/* POST ITEM */
footer
{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
}
/* BODY MIDDLE DIV STYLE */

/* BODY RIGHT DIV STYLE */
.body-right
{
    height: 87vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 71%;
    top: 12%;
    background: #fff;
    padding: 20px 10px 10px;
    border-radius: 10px;
}
.events{
    width: 100%;
    min-height: 25vh;
}
.event-tag, .advert-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-tag h3, .advert-tag h3{
    color: #444;
}
.event-tag a, .advert-tag a{
    color: #1876f2;
    text-decoration: none;
    font-weight: 500;
}
.event-content{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.event-date{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.48);
}
.date-number{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 800;
}
.date-day{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1876f2;
    color: #fff;
    font-weight: 400;

}
.e-content{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.e-content p{
    font-size: 0.95em;
}
.e-content p i{
    font-size: 1em;
}
.e-content a{
    text-decoration: none;
    color: #1876f2;
    font-weight: 500;
    font-size: 0.9em;
}

.advertisment{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advert-image{
    width: 100%;
    height: 75%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 10px;
}
.advert-image img{
    width: 100%;
    height: 100%;
}


/*PROFILE DROPDOWN LINK */
.dropdown-link
{
    width: 300px;
    height: 350px;
    overflow: hidden;   
    flex-direction: column;
    display: none;
    align-items: center;
    background: #fff;
    color: #222;
    position: absolute;
    top: 55%;
    right: 5%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 3px 32px 13px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 3px 32px 13px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 32px 13px rgba(0,0,0,0.49);
}

.hide_dropdown{
    display: none;
}

.dropdown-profile
{
    width: 100%;
    height: 10vh;
    display: flex;
    /* overflow: hidden; */
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-text
{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 4px;
}
.dropdown-text p
{
    color: #0C83D1;
    font-size: 0.8em;
}
.toogle-mode
{
    width: 40px;
    height: 20px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.863);
    padding: 1.5px;
    border: 1px solid #444;
}
.toggle-ball
{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #061539;
}
.dropdown-hr
{
    width: 100%;
    border: 0.5px solid grey;
    margin: 10px;
}
.feedback
{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-link i
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    color: #222;
}
.feedback-text
{
    width: 83%;
    color: #0C83D1;
    font-size: 0.8em;
}
.feedback-text a
{
    text-decoration: none;
    font-size: 1.4em;
    color: #000;
    font-weight: 600;
}
.dropdown-setting
{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-setting-icon
{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.dropdown-setting-link
{
    width: 82%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.dropdown-setting-link a
{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #111;
    background: none;
}
.dropdown-setting-link a i
{
    background: none;
    border: none;
}
/*PROFILE DROPDOWN LINK */


/* BODY RIGHT DIV STYLE */
/* BODY */
.navigation
{
    display: none;
}



/* RESPONSIVE (TAB SIZE) */
@media (max-width: 1060px)
{
    .left-top, .left-bottom{
        width: 100%;
    }
    .left-top-icons, .left-bottom-icons{
        width: 30%;
    }
    .left-top-links{
        width: 80%;
    }
    .left-bottom-links{
        width: 70%;
    }
    .nav-right{
        padding: 0;
    }
    .body-left{
        width: 27%;
        margin-left: 0;
    }
    .body-right{
        display: none;
    }
    .body-middle{
        width: 70%;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: center; */
        left: 28%;
        top: 8vh;
        margin-top: 0;
        padding-top: 0;
    }
    .post-item{
        width: 100%;
        margin-left: 0;
    }
    
    #footer-smll{
        display: flex;
    }
}
/* RESPONSIVE (TAB SIZE) */





/* RESPONSIVE (PHONE SIZE) */
@media (max-width: 750px)
{
    /* NAVIGATION BAR */
    .nav-left{
        width: 40%;
    }
    .search-bar{
        width: auto;
        padding: 5px;
        background: #efefef;
    }
    .nav-right{
        padding: 0;
        width: 20%;
    }
    .search-bar input{
        display: none;
    }
    .nav-right .active{
        left: inherit;
    }
    .nav-right-links{
        display: none;
    }
    /* .bottom-nav{
        display: flex;
        width: 100%;
        height: 10vh;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
        z-index: 100;
        color: rgba(255, 255, 255, 0.863);
        background-color: #061539;
        transition: 1s;
    } */
    /* NAVIGATION BAR */

    /* BODY */
    .body{
        display: flex;
    }
    .body-left, .body-right{
        display: none;
    }
    .body-middle{
        width: 100%;
        left: 0;
        top: 10vh;
        min-height: 110vh;
        padding-bottom: 80px;
    }
    .post-item{
        width: 100%;
        margin: 0;
    }
    .post-like p{
        width: 70%;
    }
    .post-item-content{
        width: 75%;
    }
    .active-link{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 1.4em;
        display: flex;
        align-items: center;
    }
    #footer-smll{
        display: block;
    }
    .repository{
        width: 80%;
    }
    .new-repo, .old-repo{
        width: 40%;
    }
    /* BOTTOM NAVIGATION */
    .navigation{
        position: fixed;
        width: 100%;
        height: 10vh;
        color: rgba(255, 255, 255, 0.863);
        background-color: #1876f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        left: 0;
    }
    .navigation ul{
        display: flex;
        width: 100%;
    }
    .navigation ul li{
        position: relative;
        list-style: none;
        width: 25%;
        height: 60px;
        z-index: 1;
    }
    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.863);
        text-decoration: none;
        font-size: 1.2em;
    }
    .navigation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.4em;
        text-align: center;
        transition: 0.5s;
    }
    .navigation ul li.active a .icon{
        transform: translateY(-25px);
    }
    .navigation ul li a .text{
        position: absolute;
        color: rgba(255, 255, 255, 0.863);
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(10px);
    }
    .navigation ul li.active a .text
    {
        opacity: 1;
        transform: translateY(28px);
    }

/* BOTTOM NAVIGATION */
    /* BODY */
}
/* RESPONSIVE (PHONE SIZE) */


@media (max-width: 520px){
    .new-repo, .old-repo{
        text-align: center;
    }
}





